#about h2{
    padding: 0;
    font-weight: bolder;
}

.sec-heading{
    font-size: 3rem;
    padding-bottom: 25px;
    color: #f1f1f1;
    font-weight: bolder;

}

.about-text{
    margin: 0;
}

.about-image{
    padding-left: 20px;
}

.self-picture{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgb(0, 0, 0)
}

.self-picture:hover {
    transform: translateY(-7px);
  }

#about p{
    padding: 40px 0 20px 0;
    margin: 20px;
    color: #d6d6d6;
}

.download-btn{
    color: #64FFDA;
    border: 1px solid #64FFDA;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px;
}

.download-btn:hover{
    background-color: #64ffdb2c;
    color: #64FFDA;
    border: 1px solid #64FFDA;
}

@media only screen and (max-width: 768px) {

    /* #about{
        padding: 5% 10%;
    } */
    .about-image{
        display: none;
    }
    .about-text{
        font-size: 0.8rem;
        width: 100%;
        margin: 0;
    }

    #about p{
        padding: 0;
        text-align: justify;
        font-size: 1rem;
    }
}