*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;    
    background-color: #191A19;
    color: #fff;
}

html, body{
    scroll-behavior: smooth;
}

section{
    padding: 7% 25% 7% 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0; 
}

@media only screen and (max-width: 768px){
    section{
        height: 25%;
        padding: 10% 8%;
    }

    .sec-heading{
        font-size: 2rem;
    }

}


