section{
    padding: 7% 25% 7% 20%;
    height: 100vh;
}

#skills{
    padding: 7% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.sec-heading{
    font-size: 3rem;
    padding-bottom: 25px;
    color: #f1f1f1;
    font-weight: bolder;

}


#skills i{
    padding: 20px;
}

.skill-list{
    text-align: center;
    padding: 30px 20px ;
    margin: auto 10px;
}

.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-text{
    padding-left: 200px;
}

.skill-name{
    color: #666666;
}